* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

#card {
  width: 90%;
  max-width: 430px;
  background-color: white;
  text-align: center;
  padding: 1vw;
  border-radius: 20px;
}

#card > * {
  margin-bottom: 1vw;
}

#card img {
  width: 50%;
  height: auto;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
}

#card h1 {
  font-size: 3vw;
}

#card p {
  font-size: 2vw;
  font-style: oblique;
}

#card .card_btn {
  display: flex;
  justify-content: space-between;
}

#card .card_btn button {
  background-color: indianred;
  color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0.5vw 3vw;
  border-radius: 30px;
  font-size: 2vw;
}

@media (max-width: 720px) {
  
  #card {
    padding: 2vw;
  }
  
  #card > * {
    margin-bottom: 2vw;
  }
  
  #card h1 {
    font-size: 5vw;
  }
  
  #card p {
    font-size: 3vw;
  }
  
  #card .card_btn button {
    padding: 2vw 4vw;
    font-size: 3vw;
    font-weight: bold;
  }
}
